<!-- Header -->
{{!-- <header id="header"> --}}
<h1><a href="/">Code Koala</a></h1>
<nav class="links">
    <ul>
        {{!-- <li><a href="/posts?type=articles">Articles</a></li> --}}
        {{!-- <li><a href="/posts?type=snippets">Snippets</a></li> --}}
        <li><a href="/authors">Authors</a></li>
        <li><a href="/tags">Tags</a></li>
    </ul>
</nav>
<nav class="main">
    <ul>
        <li class="search">
            {{!-- <a class="fa-search" href="#search">Search</a> --}}
            <form id="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search" />
            </form>
        </li>
        <li class="menu">
            <a class="fa-bars" href="#menu">Menu</a>
        </li>
    </ul>
</nav>
{{!-- </header> --}}