{{!-- layouts/base.hbs --}}

<!DOCTYPE HTML>
<html>

<head>
    <title>Code Koala by BIBI</title>
    <title>
        {{#if title}}
        {{title}}
        {{else}}
        Code Koala by BIBI
        {{/if}}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="shortcut icon" type="image/png" href="/images/koala.png" />
    {{#> head-block}}
    {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
</head>

<body class="single is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="/">Code Koala</a></h1>
            <nav class="links">
                <ul>
                    <li><a href="#">Articles</a></li>
                    <li><a href="#">Snippets</a></li>
                    <li><a href="/authors/index.html">Authors</a></li>
                    <li><a href="/tags/index.html">Tags</a></li>
                </ul>
            </nav>
            <nav class="main">
                <ul>
                    <li class="search">
                        <a class="fa-search" href="#search">Search</a>
                        <form id="search" method="get" action="#">
                            <input type="text" name="query" placeholder="Search" />
                        </form>
                    </li>
                    <li class="menu">
                        <a class="fa-bars" href="#menu">Menu</a>
                    </li>
                </ul>
            </nav>
        </header>

    </div>

<body>
    {{#> hero-block}}
    {{!-- Hero content goes here. --}}
    {{/hero-block}}

    <footer>
        {{#> footer-block}}
        {{!--
          The `includes/footer` partial is the default content,
          but can be overridden.
        --}}
        {{> includes/footer }}
        {{/footer-block}}
    </footer>




    {{#> scripts-block}}
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/handlebars.min-v4.2.1.js"></script>
    <script src="/content.js"></script>
    {{!-- Custom scripts per page can be added. --}}
    {{/scripts-block}}
</body>

</html>